<div class="row justify-content-center">
    <form [formGroup]="formDatosContacto">

        <app-input-with-icon
            icon="email"
            label="Email:"
            id="flblEmail">
            <input type="text" class="form-control" formControlName="flblEmail" />
        </app-input-with-icon>

        <app-input-with-icon
            icon="phone"
            label="Telefono:"
            id="flblTelefono">
            <input type="text" class="form-control" formControlName="flblTelefono" />
        </app-input-with-icon>

        <app-input-with-icon
            icon="home"
            label="Direccion:"
            id="flblDireccion">
            <div class="d-flex align-items-center gap-2">
                <input type="text" class="form-control" formControlName="flblDireccion" />
                <button type="button"  class="btn rounded-circle p-0"
                style="width: 35px; height: 35px; flex-shrink: 0; background-color: #0E93C7; color: white;"
                 (click)="abrirModal()"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Información de Dirección completa">
                    <strong>i</strong>
                </button>
            </div>
        </app-input-with-icon>
        
    </form>
</div>
<app-modal-info #modalInfo></app-modal-info>