<div class="row justify-content-center">
    <form [formGroup]="formDatosContacto">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="mb-3 w-50">
            Email:
            <input type="text"  class="form-control" formControlName="flblEmail" disabled/>
        </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-center">
        <div class="mb-3 w-50">
                Telefono:
            <input type="text"  class="form-control" formControlName="flblTelefono" disabled/>
        </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-center">
        <div class="mb-3 w-50">
            Direccion:
            <input type="text"  class="form-control" formControlName="flblDireccion" disabled/>
        </div>
    </div>
    </form>
</div>
