<div class="row justify-content-center">
    <form [formGroup]="formDatosDelCliente" class="w-100">
        <div class="col-sm-12 d-flex justify-content-center">
      
                <img [src]="flblFotoStorage.value!==null ? flblFotoStorage.value : flblFoto.value"
                class="img-fluid mt-3 rounded" alt="fotoCliente" />
            
        </div>

        <div *ngIf="flblFotoStorage.value===null" class="col-sm-12 d-flex justify-content-center">
            <div class="my-3 text-center">
                <label for="formFile" class="form-label">¿Quieres otra foto de perfil?</label>
                <input class="form-control" type="file" id="formFile" accept=".png,.jpg,.jpeg" (change)="addImage($event)">
              </div>
            
        </div>
        <div *ngIf="flblFotoStorage.value!==null" class="col-sm-12 d-flex justify-content-center">
            <button class="btn btn-secondary my-3" (click)="removeImage($event)">Quitar Imagen Perfil </button>
        </div>
        

        <div class="col-sm-12 d-flex justify-content-center">
            <div class="mb-3 w-50">
                <label for="flblNombre" class="form-label">Nombres:</label>
                <input type="text" class="form-control" id="flblNombre" formControlName="flblNombre" />
            </div>
        </div>

        <div class="col-sm-12 d-flex justify-content-center">
            <div class="mb-3 w-50">
                <label for="flblGenero" class="form-label">Genero:</label>
                <input type="text" class="form-control" formControlName="flblGenero" />
            </div>
        </div>
    </form>
</div>