<div class="row justify-content-center">
    <h3 class="mt-5 text-center">INICIO DE SESION</h3>
    <form [formGroup]="formLogin" class="w-100" (ngSubmit)="onLogin()">

        <div class="col-sm-12 d-flex justify-content-center">
            <div class="mb-3 w-50">
                <label for="flblEmail" class="form-label">Nombres:</label>
                <input type="text" class="form-control" id="flblEmail" formControlName="flblEmail" />
            </div>

        </div>
        <div *ngIf="flblEmail?.hasError('required') && flblEmail?.touched"
            class="col-sm-6 d-flex justify-content-center 
            align-items-center text-center my-2 bg-custom-red text-white font-bold p-2 text-sm w-50 mx-auto
            ">
            El correo es obligatorio
        </div>


        <div class="col-sm-12 d-flex justify-content-center">
            <div class="mb-3 w-50">
                <label for="flblPassword" class="form-label">Password:</label>
                <input type="password" class="form-control" formControlName="flblPassword" />
            </div>

        </div>
        <div *ngIf="flblPassword?.hasError('required') && flblPassword?.touched"
            class="col-sm-6 d-flex justify-content-center 
            align-items-center text-center my-2 bg-custom-red text-white font-bold p-2 text-sm w-50 mx-auto
            ">
            El password es obligatorio
        </div>
        <div class="col-sm-12 d-flex justify-content-center mt-3">
            <button class="btn btn-secondary w-50" type="submit">
                Iniciar Sesion
            </button>


        </div>

    </form>
</div>