<app-toast-notification></app-toast-notification>
<div class="row justify-content-center">
    <h3 class="mt-5 text-center">INICIO DE SESION</h3>
    <form [formGroup]="formLogin" class="w-100" (ngSubmit)="onLogin()">

        <div class="col-sm-12 d-flex justify-content-center">
            <div class="mb-3 w-50">
                <label for="flblEmail" class="form-label">Nombres:</label>
                <input type="text" class="form-control" id="flblEmail" formControlName="flblEmail" />
            </div>

        </div>
        <app-error-message-form 
            [control]="flblEmail" 
            [errorMessage]="' (*) El correo es obligatorio'">
        </app-error-message-form>

        <div class="col-sm-12 d-flex justify-content-center">
            <div class="mb-3 w-50">
                <label for="flblPassword" class="form-label">Password:</label>
                <input type="password" class="form-control" formControlName="flblPassword" />
            </div>

        </div>
        <app-error-message-form 
            [control]="flblPassword" 
            [errorMessage]="' (*) El password es obligatorio'">
        </app-error-message-form>

        <div class="col-sm-12 d-flex justify-content-center mt-3">
            <button class="btn btn-secondary w-50 d-flex align-items-center justify-content-center gap-2" type="submit">
                <mat-icon>login</mat-icon>
                <span>Iniciar Sesion</span>
            </button>
        </div>

    </form>
</div>